/*Google fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/*Body elements*/

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;   
    height: 100%; 
}

body, h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}



p {
    font-weight: 400;
}


/*Navbar*/

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #444;
    width: 100%;
    z-index: 10;
    height: auto;
}

#navbar-links {
    height: 100%;
}

#navbar-links ul {
    display: flex;
    margin: 0;
    padding: 16px 0px;
}

#navbar-links li {
    display: block;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none;
}

#navbar-links a {
    text-decoration: none;
    text-transform: uppercase;
}

/*Navbar links hover element*/

#navbar-links li:hover a {
    text-decoration: underline;
    font-size: 110%;
    
}

.active-page {
    font-size: 110%;
}

/*Main Banner image*/

#main-banner {
    padding-top: 83px;
    height: 650px;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

#banner-background {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/kamadojoe.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    animation-name: banner-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#main-banner-text {
    font-size: 200%;
}

/*Banner hover*/

@keyframes banner-zoom {
    from {
        transform: scale(0.9);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 10px;
    }
}


/*Intro section*/

.intro-section {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

.intro-section p {
    color: #444;
}

.intro-section h1 {
    color: #444;
    text-align: center;
    font-size: 200%;
    font-weight: 400;
}

/*Sign up banner on index page*/

#sign-up-banner {
    background-color: #444;
    height: 100px;
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
}

#sign-up-banner a {
    display: inline-block;
    height: 100%;
    margin-top: 20px;
    text-decoration: none;
}

#sign-up-banner a:hover {
    text-decoration: underline;
}

/*Navigation images*/

#container-box{
    display: inline-block;
    max-width: 440px;
    min-width: 220px;
    max-height: 440px;
    min-height: 220px;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

/*Need to add all the credits for the pictures*/
#container-img-1 {
    width: 400px;
    height: 400px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/jon-tyson-kctt4tL1dkE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
#container-img-2 {
    width: 400px;
    height: 400px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/victoria-shes-UC0HZdUitWY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

#container-img-3 {
    width: 400px;
    height: 400px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/rafael-hoyos-weht-Aqot8S_Keb8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

#container-img-4 {
    width: 400px;
    height: 400px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/kamadojoe.webp);
    background-size: cover;
    background-position: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

#container-img-1 h3 {
    top: 38%;
    left: 38%;
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    font-size: 180%;
}

#container-img-2 h3 {
    top: 38%;
    left: 38%;
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    font-size: 180%;
}

#container-img-3 h3 {
    top: 38%;
    left: 38%;
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    font-size: 180%;
}

#container-img-4 h3 {
    top: 38%;
    left: 38%;
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    font-size: 180%;
}

.container-section {
    max-width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.container-section-courses {
    margin-top: 250px;
}

.container a {
    max-width: 400px;
    max-height: 400px;
}

/*Container image hover*/
#container-img-1:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/shrimp.jpg);
}
/*Image credit to: Image by <a href="https://pixabay.com/users/shutterbug75-2077322/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1238668">Robert Owen-Wahl</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1238668">Pixabay</a>*/

#container-img-2:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/burger-4145977_1280.jpg);
}
/*Image credit to: Image by <a href="https://pixabay.com/users/thorstenf-7677369/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4145977">Thorsten Frenzel</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4145977">Pixabay</a>*/

#container-img-3:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/bbq-4373644_1280.jpg);
}
/*Image credit to: Image by <a href="https://pixabay.com/users/schottnerballa-13179591/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4373644">Bence Balla-Schottner</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4373644">Pixabay</a>*/


/*Courses section on Courses page*/

.courses-headline {
    margin-top: 180px;
    text-align: center;
}
.courses-headline h2 {
    color: #444;
    font-size: 200%;
}

#courses-container {
    max-width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    grid-row-gap: 10%;
}
#courses-box {
    display: inline-block;
    max-width: 400px;
    min-width: 200px;
    max-height: 400px;
    min-height: 200px;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 20px;
    background-color: #444;
}


/*Stay tuned banner*/

#stay-tuned-banner {
    background-color: #444;
    height: 100px;
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

#stay-tuned-banner h3 {
    display: inline-block;
    height: 100%;
    padding-top: 20px;
    text-decoration: none;
}


/*Footer*/

footer {
    background-color: #444;
    display: grid;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    font-size: 90%;
    bottom: 0;
    z-index: 3;
}

.footer-contact {
    display: block;
    padding-bottom: 10px;
}

.footer-socials {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.footer-socials a {
    padding: 10px;
}


/*Media*/

/*For screens with a max width of 1660px*/

@media screen and (max-width: 1680px) {
        #container-box {
        display: flexbox;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        justify-content: center;
        padding: 5px;
        }

        #container-img-1 {
            height: 300px;
            width: 300px;
        }
        #container-img-2 {
            height: 300px;
            width: 300px;
        }
        #container-img-3 {
            height: 300px;
            width: 300px;
        }

        #container-img-1 h3 {
            top: 35%;
            left: 25%;
        }
        #container-img-2 h3 {
            top: 35%;
            left: 30%;
        }
        #container-img-3 h3 {
            top: 35%;
            left: 30%;
        }
    
}

/*For screens with a min width of 950px and a max width of 1290px*/

@media only screen and (max-width: 1290px) and (min-width:950px) {
    #container-box {
        display: flexbox;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        justify-content: center;
        padding: 0;
    }

    #container-img-1 {
        height: 250px;
        width: 200px;
    }
    #container-img-2 {
        height: 250px;
        width: 200px;
    }
    #container-img-3 {
        height: 250px;
        width: 200px;
    }
}

/*For screens with a min width of 836px max width of 950px*/
@media only screen and (max-width: 950px) and (min-width:836px) {
    #container-box {
        display: flexbox;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        justify-content: center;
        padding: 0;
    }

    #container-img-1 {
        height: 200px;
        width: 180px;
        
    }
    #container-img-2 {
        height: 200px;
        width: 180px;
    }
    #container-img-3 {
        height: 200px;
        width: 180px;
    }
}


/*For screens with a max width of 836px*/

@media screen and (max-width: 835px) {
    #navbar {
        width: 100%;
        font-size: 90%;       
    }
    #main-banner {
        height: 350px;
        width: 80%;
        padding-top: 82px;
        padding-left: 0%;
    }
    .intro-section {
        width: 80%;
    }

    #sign-up-banner {
        margin-bottom: 30px;
    }

    #container-box {
        margin-top: 50px;
        display: flex;
        grid-template-columns: 1fr;
        margin: auto;
        justify-content: center;
    }

    #container-img-1 h3 {
        top: 35%;
        left: 38%;
    }
    #container-img-2 h3 {
        top: 35%;
        left: 38%;
    }
    #container-img-3 h3 {
        top: 35%;
        left: 40%;
    }
}


/*For screens with a max width of 490px*/

@media screen and (max-width: 490px) {
    #navbar {
        font-size: 80%;
    }

    #container-img-1 h3 {
        font-size: 150%;
    }

    #container-img-2 h3 {
        font-size: 150%;
    }


    #container-img-3 h3 {
        font-size: 150%;
    }
}

@media screen and (max-width: 320px) {

    #navbar {
        font-size: 55%;
    }

    #main-banner {
        padding-top: 74px;
        height: 300px;
    }

    #main-banner-text {
        font-size: 100%;
    }

    #sign-up-banner {
        padding-bottom: 30px;
    }

    #container-box {
        height: 300px;
    }

    #container-img-1 h3 {
        top: 35%;
        left: 32%;
    }
    #container-img-2 h3 {
        top: 35%;
        left: 32%;
    }
    #container-img-3 h3 {
        top: 35%;
        left: 35%;
    }
    
}