/*Google fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Body elements*/
body {
    padding: 0;
    margin: 0;
}
h1, h2, p, a {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

/*Navbar*/

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #444;
    width: 100%;
    z-index: 10;
}

#navbar-links {
    height: 100%;
}

#navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar-links li {
    list-style-type: none;
}

#navbar-links li, a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}