/*Google fonts import*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/*Body elements*/

body {
    padding: 0;
    margin: 0;
    min-height: 3000px;
    /*Remove the min-height element*/
}

h1, h2, p, a {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

p {
    font-weight: 400;
}


/*Navbar*/

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #444;
    width: 100%;
    z-index: 10;
}

#navbar-links {
    height: 100%;
}

#navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar-links li {
    list-style-type: none;
}

#navbar-links li, a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*Navbar links hover element*/

#navbar-links li:hover a {
    text-decoration: underline;
}

/*Main Banner image*/

#main-banner {
    padding-top: 83px;
    height: 650px;
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

#banner-background {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/kamadojoe.webp);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1, 1fr;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

#main-banner-text {
    font-size: 200%;
}

/*Intro section*/

.intro-section {
    width: 50%;
    margin: auto;
}

.intro-section h1, p {
    color: #444;
}

.intro-section h1 {
    text-align: center;
    font-size: 200%;
    font-weight: 400;
}